@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test Dafater Api</h1>
    <p class="lead">Calling action methods of the Api</p>
    <p></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>ttttttt</h2>
        <p>
            @Html.Partial("Lookup")
           ttttttttttttttt
        </p>
        <p>ttttttt</p>
    </div>
    <div class="col-md-4">
        <h2>tttt</h2>
        <p>tttttttttttt</p>
        <p>ttttttttttt</p>
    </div>
    <div class="col-md-4">
        <h2>ttt</h2>
        <p>tttttttttttt</p>
        <p>tttttttttttt</p>
    </div>
</div>*@